/* Kleur 1 : #2B9482; */
/* Kleur 2 : #6F9F3E; */
/* Kleur 3 : #ce6564; */
/* kleur 4 : #bdca8b; */

/* HEADER */
.navbar{
	background-color: white;
}

/* ALGEMEEN */
.content-title{
	background-color: #2B9482;
	color: white;
	padding: 8px 0px 8px 0px;
	margin-bottom: 12px;
}
.content-title h5{
	margin: 0px;
	padding: 0px;
}
#div_side {
	background-color: white;
}
#div_main {
	background-color: white;
}

/* GRAFIEK */
.kleur-temp{
	width: 20px;
	height: 20px;
	background-color: red;
}
.kleur-groei{

}
.kleur-luchtvocht{

}
.kleur-bodemvocht{

}


/* TABEL */


th {
    background-color: #6F9F3E;
    text-align: center;
}

td {
    text-align: right;
}

tr:hover {
    background-color: #bdca8b;
}

table, td {
    border: 1px solid #6F9F3E;
}
