/* Kleur 1 : #2B9482; */
/* Kleur 2 : #6F9F3E; */
/* Kleur 3 : #ce6564; */
/* kleur 4 : #bdca8b; */

/* GENERAL */
html,
body {
    height: 100%;
    margin: 0;
}

#app {
    flex-flow: column;
    height: 100%;
}

#app header {
    flex: 0 1 auto; /* shorthand for: flex-grow: 0, flex-shrink: 1, flex-basis: auto */
}

#app #content {
    flex: 1 1 auto;
}

#app footer {
    flex: 0 1 auto;
}

.content-title {
    background-color: #007b5e;
    color: white;
    padding: 8px 0px 8px 0px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.content-title h5 {
    margin: 0px;
    padding: 0px;
}

#div_side {
    background-color: white;
}

#div_main {
    background-color: white;
}

a, a:hover, a:focus {
    color: #007b5e;
}

.record:hover {
    background-color: #eee;
}

/* HEADER */
.navbar {
    background-color: white;
}

/* Weer API */
#kmi-info {
    margin-left: -0.5em;
    margin-right: -0.5em;
}

iframe {
    display: block;
    border: none;
    height: 200px;
    width: 100%;
}

/* Notifications */
.notification {
    min-width: 20vw !important;
}

/* PROFILE */
.fa-user-circle {
    color: #007b5e;
}

.btn-secondary {
    border-color: #007b5e;
    background-color: #007b5e;
}

.btn-secondary:hover {
    border-color: #28a745;
    background-color: #28a745;
}

.btn-secondary:focus, .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/* FIELD PAGE */
#content {
    display: flex;
    flex-flow: column;
}

#content #list {
    flex: 0 1 auto;
}

#content #map {
    flex: 1;
    min-height: 300px;
}

/* FOOTER */
footer {
    height: 75px;
    padding: 25px;
    text-align: center;
    color: white;
    background-color: #007b5e;
}
